  <div class="topnav" id="myTopnav">
    <div class="topnav-right">
    <a href="home">Home</a>
    <a href="about">About</a>

    <a href="login">Admin-login</a>

    <a href="studentlogin">Student-login</a>
    <!--<div class="topnav-right">
      <a href="admin-panel">Log Out</a>
    </div>-->

    </div>
  </div>



 <!--Main Body Starts HERE-->
        <div class="main">
            <div class="wrapper">
                    <h3>About Us</h3>
                    
                    <!--About Us Here-->
                    <img src="../assets/p2.jpg" />
                    
                   <p>
                    Welcome to our website. GATES Institute of Technology, established in 2001 is approved by AICTE and has permanent affiliation to JNTUA. GATES Institute is started with a commitment to bring quality technical education opportunity to the door steps of the youth of backward region of Rayalaseema.

GATES will be a home away from home for those in pursuit of excellence. Students here, are encouraged in this journey by our committed faculty and world class facilities. Our faculty provide consistent, high-quality and appropriate academic advising, monitoring, mentoring, nurturing and coaching to ensure academic and personal success of all our students.

Our belief in value based education and the service activities we take up moulds our students into finest and responsible human beings.

Thanks for your interest in knowing about us.
V.K.Padmavathamma
Correspondent
</p>
<p>
 We are provide placements in the 5th semester students are eligible for campus placements. 80% of students were placed through campus placements and the companies are Tech Mahindra, SBI, Zomato, Edwisor, KMPG, Airtel. The highest package was 4.5LPA, the average package is 3LPA and the lowest package is 1.5LPA.
</p>
<p>
Gates Placement Cell provides Internships Opportunities : The internships was offered by the Growth arrow as an Equity Analyst. The internship was offered from Growup and Universal tribes in the role of marketing. Some of the internships were offered as an unpaid and some of them are given stipend for the performance.
</p>
<br><br>
    Contact Us:
    <a href="">Office - +91 9949379691, +91 9491119696,</a>&nbsp;
    <a href="">+91 9490082001</a><br>
   
<!-- 
    <div class="follow text-right"> -->
        Follow Us 
        <a href="https://www.facebook.com/gatesit.ac.in">Facebook</a>&nbsp;
        <a href="https://www.youtube.com/channel/UCSGVgJbBvA7Jqbu5w5rLIPQ">Youtube</a>&nbsp;
        <a href="#instagram">Instagram</a>&nbsp;
        <a href="#twitter">Twitter</a>
    </div>
    </div>
    <br>
    <!--Footer Starts HERE-->
        <footer class="footer">
            <div class="wrapper">
                <p>&copy; <a>GATES INSTITUTE OF COLLEGE,GOOTY</a></p>
            </div>
        </footer>
        <!--Footer Ends HERE-->
        <!--Main Body Ends HERE-->
        
        <!--Footer Starts HERE
        <footer class="footer">
            <div class="wrapper">
                <p>&copy; <a href="#">Gates Placement Cell</a></p>
            </div>
        </footer>
        Footer Ends HERE
<!--
<p>
Training and Placements cell @ Gates acts as a bridge between the Institute and the Industry. The main objective of this cell is to provide appropriate training to the students and make them industry ready and arrange campus interviews for final year students. Training and placement cell is headed by Mr. A RamaPrathap Reddy.
</p>
<h2>Training and Placement Cell Activities</h2>
<p>
Training and Placement Cell organizes several training activities for the students in a systematic and methodic order from first year onwards along with their academics and encourages many activities that help the students perform better and stand out in the interviews and get better career opportunities.
</p>
<p>
The new Training and placement office has a huge conference hall, Group discussion rooms and interview rooms complete with projectors and video conferencing facility. College also has internet center with 120 systems where online assessments can be conducted.
</p>


<ul>
<li>In I Year students are trained in Communication Skills and Presentation Skills.</li>-->
<!--<li>In II Year students are trained in Aptitude and Reasoning. We regularly conduct online exams for improving their accuracy and speed in these areas.</li>
<li>In III Year students receive training in their respective core areas from experts. Certification trainings in association with Infosys, IBM, and Microsoft are also provided.</li>
<li>In the final year placement cell arranges for personality development programs (PDP), mock interviews, group discussions, to enhance the communication skills and further the confidence of the students when facing interviews.</li>
<li>Training sessions are conducted by experts in body language, social and corporate etiquette, and presentation and interview skills.</li>
<li>T & P Cell maintains the student master database to map the students with suitable job requirements from the companies.</li>
<li>T & P encourages the students to appear for online assessment tests COCUBES and AMCAT. Gates has test centers for these tests for the benefit of the students.</li>
<li>Students are encouraged to participate in various online programming contests such as Aspiration 2020, TCS Code Vita, Empass etc.,</li>
<li>To get a better understanding of engineering concepts and applications, and to have an edge over others in interviews students are encouraged to intern in various IT/ITES and core companies.</li>
<li>Arrange guest lectures by eminent industry leaders to emphasize on the ever changing need of the industry and how to get oneself ready for it</li>
</ul>
-->