<div class="topnav" id="Topnav-left">
  
      <a href="home">HOME</a>

    </div>

<style>

</style>

<nav class="navbar navbar-expand-lg  navbar-light">
  <a class="navbar-brand" routerLink=""></a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
</nav>
<!--<clr-alert [clrAlertAppLevel]="true">
  <clr-alert-item>
    <span class="alert-text">
      Congratulations, you have successfully login!
    </span>
  </clr-alert-item>
</clr-alert>-->

<div class="col-md-4 offset-md-4 bg-info container" align="center" >
  <h1>ADMIN-LOGIN</h1>
  <div>
    User Name: <input type="text" name="username" [(ngModel)]="username"><br>&nbsp;

    Password : <input type="password" name="password" [(ngModel)]="password">
  </div>
  <button (click)=checkLogin() class="btn btn-success">
    Login
  </button>
  
</div>
<!--Footer Starts HERE-->
        <footer class="footer">
            <div class="wrapper">
                <p>&copy; <a>GATES INSTITUTE OF COLLEGE,GOOTY</a></p>
            </div>
        </footer>
        <!--Footer Ends HERE-->

