<!--<section class="home">
  -<img src="../../assets/p5.jpeg" >
  
  
  </section>-->
<div class="collapse navbar-collapse primary" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
          <li class = "nav-item">
            <a routerLink="login" routerLinkActive="active" class="nav-link">ADMIN-LOGIN</a>
          </li>
          <li class = "nav-item">
            <a routerLink="studentlogin" routerLinkActive="active" class="nav-link">STUDENT-LOGIN</a>
          </li>
          <!--<li class = "nav-item">
            <a routerLink="logout" routerLinkActive="active" class="nav-link">LOGOUT</a>
          </li>-->
          <!--<a href="login" >LOGOUT</a>-->
      </ul>
      </div>

 <!--<mat-icon aria-hidden="false" aria-label=" home icon">home</mat-icon>-->
  <div class="topnav" id="myTopnav">
    <div class="topnav-right">
    <a href="home">Home</a>
    <a href="about">About</a>

    <a href="login">Admin-login</a>

    <a href="studentlogin">Student-login</a>

    
    <!--<div class="topnav-right">

      <a href="admin-panel">Log Out</a>

    </div>-->

  </div>
  </div>

  <!--<section class="home">-->
  <img src="../../assets/p2021.jpg" >
  
  
  <!--</section>-->
  <!--Footer Starts HERE-->
        <footer class="footer">
            <div class="wrapper">
                <p>&copy; <a>GATES INSTITUTE OF COLLEGE,GOOTY</a></p>
            </div>
        </footer>
        <!--Footer Ends HERE-->













