<div class="submit-block">

            <button class="submit" title="go to home" type="submit" href="home"  align="center">Home</button>

             <!--login form area-->



          </div>

<div>
    <h3> View Student Applying Info</h3>

    <div>
        <label> <b> Company Name: </b></label> {{applynow.companyName}}
    </div>
    <div>
        <label> <b> Full Name: </b></label> {{applynow.fullName}}
    </div>
    <div>
        <label> <b> Roll No: </b></label> {{applynow.rollNo}}
    </div>
    <div>
        <label> <b> phoneNumber: </b></label> {{applynow.phoneNumber}}
    </div>
    <div>
        <label> <b> Address: </b></label> {{applynow.address}}
    </div>
</div>

