<div class="topnav" id="Topnav-left">
  
      <a href="home">HOME</a>

</div>&nbsp;
<div class="col-md-4 offset-md-4 bg-info container" align="center">
  <h1>DEPARTMENT-LOGIN</h1>
  <style>

</style>
  <div>
    User Name: <input type="text" name="username" [(ngModel)]="username"><br>&nbsp;
    Password : <input type="password" name="password" [(ngModel)]="password">
  </div>
  <button (click)=checkLogin() class="btn btn-success">
    Login
  </button>
  
</div>
<!--Footer Starts HERE-->
        <footer class="footer">
            <div class="wrapper">
                <p>&copy; <a>GATES INSTITUTE OF COLLEGE,GOOTY</a></p>
            </div>
        </footer>
        <!--Footer Ends HERE-->